<div class="mb-3 mt-1">
  {% if title %}
<div class="title">{{ title }}</div>
{% endif %}

div.code div.title {
    background: #e1e1e1;
}

h1, .h1 {
  font-size: 2.3rem;
}

h2, .h2 {
  font-size: 1.75rem;
}

h3, .h3 {
    font-size: 1.4rem;
    color: #9b9b9b;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
    font-size: 1rem;
}

h6, .h6 {
    font-size: 0.75rem;
}

div.duik-callout p:last-child {
    margin-bottom: 0;
}

span.callout {
    border-radius: 1rem;
    border: 1px solid black;
    background-color: #ffd500;
    color: #49483e;
    text-align: center;
    padding: 0 .5rem;
    display: inline-block;
    font-weight: bold;
    min-width: 40px;
}

div.code div.callouts table {
    margin-top: 1rem;
}

div.code div.callouts table td {
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.alert-warning {
    color: black
}

.alert-success {
    color: black
}

/* Code highlight styles */
span.hll-border {
    border: 1px solid black;
    padding-right: 5px;
}

span.hll-border {
    border: 1px solid black;
    padding-right: 5px;
}

span.hll-default { background-color: #ffffcc; }
span.hll-important { background-color: #ffaf5b; }
span.hll-add { background-color: #bfffbf; }
span.hll-remove { background-color: #f9cece; }
span.hll-error {
    border: 1px solid red;
    padding-right: 5px;
}
